#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 110%;
  gap: 15px;
  bottom: auto;
  text-align: center;
}

.custom-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 80%;
  /* adjust based on design */
  max-width: 300px;
}

.custom-button-remove {
  background-color: #7f1a0f;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  width: 80%;
  /* adjust based on design */
  max-width: 300px;
}


.custom-button:hover {
  background-color: #0056b3;
}


.safe-header {
  padding-top: env(safe-area-inset-top); /* Ensures spacing below status bar */
}

.bottom-title {
  font-size: 18px;
  font-weight: normal;
  color: black;
  align-self: flex-end;
  padding-bottom: 6px;
}