<ion-header [translucent]="true" style="margin-top: 30px;">
  <ion-toolbar>
    <ion-title>
      ionic demo app
    </ion-title>
  </ion-toolbar>
</ion-header>
<div style="height: 50px;"></div>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ionicFramework</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="center-content">
      <strong>Ionic Demo App</strong>

      <button class="custom-button" (click)="onClickShowInterstitialAd()">
        Show Interstitial Ad
      </button>

      <button class="custom-button" (click)="onClickShowFixedBannerAd()">
        Show Fixed Banner Ad
      </button>

      <button class="custom-button" (click)="onClickShowAdaptiveBannerAd()">
        Show Adaptive Banner Ad
      </button>
    </div>
  </ion-content>