<ion-header [translucent]="true">
  <ion-toolbar style="--background: #ADD8E6;">
    <ion-title style="font-size: 18px; font-weight: normal; --color: black;">
      IONIC DEMO APPLICATION
    </ion-title>
  </ion-toolbar>
</ion-header>
<div style="height: 50px;"></div>

<ion-content [fullscreen]="true" class="ion-padding" style="--background: #ADD8E6;">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">ionic demo app</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content style="--background: #ADD8E6;">
    <div class="center-content">
      <!-- <strong>Ionic Demo App</strong> -->
      <button class="custom-button" (click)="onClickShowAdaptiveBannerAd()">
        ADAPTIVE BANNER AD
      </button>

      <button class="custom-button" (click)="onClickAppOpenAd()">
        APP OPEN AD
      </button>

      <button class="custom-button" (click)="onClickShowFixedBannerAd()">
        BANNER AD
      </button>

      <button class="custom-button" (click)="onClickShowInterstitialAd()">
        INTERSTITIAL AD
      </button>

      <button class="custom-button" (click)="onClickRewardedAd()">
        REWARDED AD
      </button>


      <button class="custom-button-remove" (click)="onClickBannerRemove()">
        REMOVE AD
      </button>

    </div>
  </ion-content>